/*!
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "@spectrum-css/vars/css/scales/spectrum-large.css";
@import "@spectrum-css/vars/css/scales/spectrum-medium.css";

.spectrum-LogicButton {
  /* Contain halo */
  position: relative;

  display: inline-flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  /* Show the button overflow in Edge. */
  overflow: visible;

  /* Remove button the margin in Firefox and Safari. */
  margin: 0;

  border-style: solid;

  /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  /* Font smoothing for Firefox */
  -moz-osx-font-smoothing: grayscale;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background var(--spectrum-global-animation-duration-100) ease-out,
    border-color var(--spectrum-global-animation-duration-100) ease-out,
    color var(--spectrum-global-animation-duration-100) ease-out,
    box-shadow var(--spectrum-global-animation-duration-100) ease-out;

  text-decoration: none;
  font-family: var(--spectrum-alias-body-text-font-family);

  line-height: var(--spectrum-alias-component-text-line-height);

  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;

	block-size: var(--spectrum-logicbutton-and-height);
	padding: var(--spectrum-logicbutton-and-padding-x);

	border-width: var(--spectrum-logicbutton-and-border-size);
	border-radius: var(--spectrum-logicbutton-and-border-radius);

	font-size: var(--spectrum-logicbutton-and-text-size);
	font-weight: var(--spectrum-logicbutton-and-text-font-weight);
	line-height: 0;

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: calc(var(--spectrum-alias-focus-ring-gap) * -1);
		transition: opacity var(--spectrum-global-animation-duration-100) ease-out,
					margin var(--spectrum-global-animation-duration-100) ease-out;
		border-radius: calc(
			var(--spectrum-logicbutton-and-border-radius) +
				var(--spectrum-alias-focus-ring-gap)
		);
	}

	&:focus-visible {
		outline: none;

	  &:after {
		margin: calc(var(--spectrum-alias-focus-ring-gap) * -2);
		box-shadow: 0 0 0 var(--spectrum-button-m-primary-outline-texticon-focus-ring-size) var(--spectrum-button-m-primary-outline-texticon-focus-ring-color-key-focus);
	  }
	}

	&:focus {
	  outline: none;
	}

	/* Fix Firefox */
	&::-moz-focus-inner {
	  border: 0;

	  /* Remove the inner border and padding for button in Firefox. */
	  border-style: none;
	  padding: 0;

	  /* Use uppercase PX so values don't get converted to rem */
	  margin-block-start: -2px;
	  margin-block-end: -2px;
	}

	&:disabled,
	&.is-disabled {
	  cursor: default;
	}
}

.spectrum-LogicButton--and {
	background-color: var(--spectrum-logicbutton-and-background-color);
	border-color: var(--spectrum-logicbutton-and-border-color);
	color: var(--spectrum-logicbutton-and-text-color);

	&:hover {
		background-color: var(--spectrum-logicbutton-and-background-color-hover);
		border-color: var(--spectrum-logicbutton-and-border-color-hover);
		color: var(--spectrum-logicbutton-and-text-color);
	}

	&:disabled,
	&.is-disabled {
		background-color: var(--spectrum-logicbutton-and-background-color-disabled);
		border-color: var(--spectrum-logicbutton-and-border-color-disabled);
		color: var(--spectrum-logicbutton-and-text-color-disabled);
	}
}

.spectrum-LogicButton--or {
	background-color: var(--spectrum-logicbutton-or-background-color);
	border-color: var(--spectrum-logicbutton-or-border-color);
	color: var(--spectrum-logicbutton-or-text-color);

	&:hover {
		background-color: var(--spectrum-logicbutton-or-background-color-hover);
		border-color: var(--spectrum-logicbutton-or-border-color-hover);
		color: var(--spectrum-logicbutton-or-text-color);
	}

	&:disabled,
	&.is-disabled {
		background-color: var(
			--spectrum-button-m-primary-fill-texticon-background-color-disabled
		);
		border-color: var(
			--spectrum-button-m-primary-fill-texticon-border-color-disabled
		);
		color: var(--spectrum-logicbutton-and-text-color-disabled);
	}
}

@media (forced-colors: active) {
	.spectrum-LogicButton::after {
		--spectrum-button-m-primary-outline-texticon-focus-ring-color-key-focus: Highlight;
		forced-color-adjust: none;
	}

	.spectrum-LogicButton {
		forced-color-adjust: none;
		--spectrum-button-primary-texticon-focus-ring-size: 2;
		--spectrum-button-m-primary-fill-texticon-background-color-disabled: ButtonFace;
		--spectrum-button-m-secondary-texticon-border-color-disabled: GrayText;
		--spectrum-logicbutton-and-background-color: ButtonFace;
		--spectrum-logicbutton-and-background-color-disabled: ButtonFace;
		--spectrum-logicbutton-and-background-color-hover: ButtonFace;
		--spectrum-logicbutton-and-border-color: ButtonText;
		--spectrum-logicbutton-and-border-color-disabled: GrayText;
		--spectrum-logicbutton-and-border-color-hover: Highlight;
		--spectrum-logicbutton-and-text-color: ButtonText;
		--spectrum-logicbutton-and-text-color-disabled: GrayText;
		--spectrum-logicbutton-or-background-color: ButtonFace;
		--spectrum-logicbutton-or-background-color-hover: ButtonFace;
		--spectrum-logicbutton-or-border-color: ButtonText;
		--spectrum-logicbutton-or-border-color-hover: Highlight;
		--spectrum-logicbutton-or-text-color: ButtonText;
	}
}
